
<button type="button" name="button"><a href="/nations/new">Add new nation</a></button><br>

<% @nations.each do |nation| %>
  <div class="athletes">
  <img src="../<%=nation.flag_still%>" alt="" /><br>
  <a href="/nations/<%=nation.id%>"><%= nation.title %></a><br>
  </div>
<% end %>
