
<form class="" action="/nations" method="post" enctype="multipart/form-data">
  <label for="title">Nations name:</label>
  <input type="text" name="title"><br>

  <label for="shorthand">Nation code:</label>
  <input type="text" name="shorthand" value=""><br>

  <label for="total_gold"></label>
  <select class="" name="total_gold">
    <option value="0">0</option>
  </select>

  <label for="total_silver"></label>
  <select class="" name="total_silver">
    <option value="0">0</option>
  </select>

  <label for="total_bronze"></label>
  <select class="" name="total_bronze">
    <option value="0">0</option>
  </select>


  <input type='submit' value="Add Nation!">
  </form>
