<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Olympics</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Rio Olympics</h1>
        <nav>
         <ul>
           <li>
             <a href="/">Home</a>
           </li>
           <li>
             <a href="/events">Events</a>
           </li>
           <li>
             <a href="/nations">Nations</a>
           </li>
           <li>
             <a href="/athletes">Athletes</a>
           </li>
         </ul>
       </nav>
    </header>
    <div class="container">
      <%= yield%>
    </div>
  </body>
</html>
