<img src="../<%=@athlete.picture%>" alt="" height="100" width="75" style="border-style: groove;" /><br>
<%="#{@athlete.name} has now been created!"%><br>

<button type="button" name="button"><a href="/athletes/new">Add another.</a></button><br>
