<%Nation.update_athlete_gold(Athlete.find(@event.gold_winner_id))%>
<%Nation.update_athlete_silver(Athlete.find(@event.silver_winner_id))%>
<%Nation.update_athlete_bronze(Athlete.find(@event.bronze_winner_id))%>
<button type="button" name="button"><a href="/events">Go to events</a><br></button>
